.project-intro .container {
  padding: 0px 10% !important;
}

.project-intro img {
  border-radius: 10px;
}
.project-intro .project-banner img {
  max-width: 600px !important;
  border-radius: 24px;
}

.project-technology .child {
  background: var(--clr-border);
  border: 1px solid #3e3e3e;
  padding: 10px;
  min-width: 50px !important;
  border-radius: 10px;

  font-size: 12px;
}

section.container-fluid.project-design {
  border-bottom: 1px solid var(--clr-border);
}

.project-design {
  margin-top: 20vh;
  margin-bottom: 20vh;
}
.project-design .container {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.project-design .box {
  width: 90%;
  max-width: 500px;
  min-height: 300px;
  border-radius: 15px;
}

/* .project-design .box {
  min-width: 500px;
  min-height: 300px;
  border-radius: 15px;
} */

.project-design .box .left {
  flex: 1;
}

.project-design .box .font {
  line-height: 1;
}
.project-design .color-box {
  width: 4em;
  height: 3em;
  background: red;

  border-radius: 10px;
}

.project-design .frac {
  height: 5px;
}
.project-design .frac:first-of-type {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.project-design .frac:last-of-type {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.project-design .frac:nth-child(1),
.project-design li:nth-child(1) .circle {
  background: #8a2be2; /* Violet */
}
.project-design .frac:nth-child(2),
.project-design li:nth-child(2) .circle {
  background: #40e0d0; /* Turquoise */
}
.project-design .frac:nth-child(3),
.project-design li:nth-child(3) .circle {
  background: #ff7f50; /* Coral */
}
.project-design .frac:nth-child(4),
.project-design li:nth-child(4) .circle {
  background: #4169e1; /* Royal Blue */
}
.project-design .frac:nth-child(5),
.project-design li:nth-child(5) .circle {
  background: #ff6347; /* Tomato */
}
.project-design .frac:nth-child(6),
.project-design li:nth-child(6) .circle {
  background: #ffd700; /* Gold */
}
.project-design .frac:nth-child(7),
.project-design li:nth-child(7) .circle {
  background: #fa8072; /* Salmon */
}
.project-design .frac:nth-child(8),
.project-design li:nth-child(8) .circle {
  background: #6a5acd; /* Slate Blue */
}
.project-design .frac:nth-child(9),
.project-design li:nth-child(9) .circle {
  background: #3cb371; /* Medium Sea Green */
}
.project-design .frac:nth-child(10),
.project-design li:nth-child(10) .circle {
  background: #dc143c; /* Crimson */
}

.project-design .circle {
  width: 10px;
  height: 10px;
}

.product-design .languages-text p {
  font-size: 14px;
}

.project-external {
  font-size: 50px;

  position: fixed;
  right: 5%;
  bottom: 5%;
}

.project-screenshot .child {
  width: 100%;
  max-width: 300px;
  max-height: 200px;
}

.screenshot-full {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  z-index: 1000 !important;
}

.screenshot-full img {
  cursor: default;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 90%;
  max-width: 1200px;
  height: auto;
  max-height: 90vh;
}
